<div class="add-expense-container hidden">
    <header class="add-expense-header">
      <div class="m-1">Add New Expense</div>
      <i class="fa-solid fa-x ms-auto m-1" id="add-expense-X"></i> 
    </header> 

    <form class="m-1" action="{% url 'budget:addExpense' %}" method="POST">
      {% csrf_token %}
      <div class="dropdown">
        <button class="btn dropdown-toggle" 
                type="button" 
                data-bs-toggle="dropdown"
                id="add-category-dropdown">
          Category
        </button>
        <input type="hidden" name="category" id="selected-category"/>

          <ul class="dropdown-menu add-category-dropdown-menu">

            <div class="d-flex add-category-container m-2">
              <input class="form-control" name="new-category" placeholder="New Category"/>
              <i class="fa-solid fa-plus ms-2 mt-auto mb-auto" id="add-category-btn"></i>
            </div>     

            {% for category in category_data %}
              <li class="dropdown-item category-option">{{category}}</li>
            {% endfor %}   
          </ul> 
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Value</span>
        <input type="text" class="form-control" name="value" placeholder="ex. 250">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <input type="text" class="form-control" name="description" placeholder="ex. Car Payment">
      </div>

      <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
  </div>