<form class="m-0" action="{% url "budget:monthSelector" %}" method="GET">
  {% csrf_token %}

  <input type="hidden" id="selected-month" name="selected_month"/>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
    {{selected_month}}
    </button>
    <ul class="dropdown-menu">
      {% for month in expense_months %}
        <li class="dropdown-item">
          <button class="month-button">{{month}}</button>
        </li>
        
      {% endfor %}
      
    </ul>
  </div>

</form>