<!-- display data of current time period-->
{% extends "budget/base.html" %}
<!DOCTYPE html>
{% block head %}
  {% load static %}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>
  <link rel="stylesheet" href="/static/css/home.css?{% now "U" %}" />
{% endblock head %}

{% block content %}

  <div class="d-flex main-container">

    <div class="d-flex flex-column left-column">
      <div class="link-container">
        <a class="menu-link">Link1</a>
      </div>
      <div class="link-container">
        <a class="menu-link">Link2</a>
      </div>
      <div class="link-container">
        <a class="menu-link">Link3</a>
      </div>

      <div class="link-container logout-link">
        <i class="fa-solid fa-door-open me-2"></i>
        <a class="menu-link" href="{% url 'budget:logout' %}">Logout</a>
      </div>
    </div>

    <div class="d-flex flex-column middle-column">
      <div class="d-flex">
        {% include 'budget/includes/monthSelector.html' %}
        <button class="btn btn-outline-secondary ms-auto m-1" id="add-expense-btn">Add Expense</button>
      </div>
      
      {% include "budget/includes/addExpense.html" %}

      <ul class="list-group category-list">
        {% for key, value in category_data.items %}
          <li class="list-group-item">

            <div class="d-flex">
              <div class="mb-auto mt-auto">
                <i class="fa-solid fa-angle-down me-2"></i>
                <i class="fa-solid fa-angle-up me-2 hidden"></i>
              </div>
              <div class="align-items-center category-label-container">
                {{key}} 
                <div class="progress" role="progressbar">
                  <div class="progress-bar" style="width: {{value.3}}%"></div>
                </div>
              </div>
              <div class="ms-auto" style="width: 15%">
                {% if value.1 > 0 %}
                  <p class="category-data">{{value.1}}</p>
                {% else %}
                  <p class="category-data">0</p>
                {% endif %}
                
                {% if value.0 > 0 %}
                  <p class="category-data" style="font-size: 13px">{{value.0}}</p>
                {% else %}
                  <p class="category-data" style="font-size: 13px">N/A</p>
                {% endif %}
              </div>
            </div>

            <ul class="list-group list-group-flush expense-list">
              {% for expense in expenses %}
                {% if key == expense.category %}
                  <li class="list-group-item individual-expense">

                    <i class="fa-regular fa-pen-to-square me-1"></i>
                    <i class="fa-solid fa-check m-1 hidden"></i>
                    <div class="expense-data">
                      {{expense.description}}: {{expense.value}}
                    </div>

                    <form class="edit-expense-form hidden" 
                          action="{% url 'budget:editExpense' expense.id%}" 
                          method="POST">
                      {% csrf_token %}
                      
                      <input type="hidden" name="category" value="{{expense.category}}" />
                      <input class="form-control me-1" 
                             name="description" 
                             placeholder="{{expense.description}}"
                             value="{{expense.description}}"/>
                      <p class="mb-0">:</p>
                      <input class="form-control ms-1" 
                             name="value" 
                             placeholder="{{expense.value}}"
                             value="{{expense.value}}"/>
                    </form>

                    <form class="mb-0 ms-auto" action="{% url 'budget:deleteExpense' expense.id%}" method='POST'>
                      {% csrf_token %}
                      <button style="all: unset">
                        <i class="fa-regular fa-trash-can"></i>
                        {% comment %} <div class="hidden">{{expense.category}}</div> {% endcomment %}
                      </button>                     
                    </form> 
                    
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            
          </li> 
        {% endfor %}
      </ul>
    </div>

    <div class="d-flex flex-column ms-auto right-column">

      <div class="d-flex flex-column align-items-center">
        <div class="mt-2">
          <h3 id="total-spent">{{total_spent}}</h3>
        </div>
        <div>
          <h4>Spent</h4>
        </div>
        <hr class="border border-secondary border-1 mt-2" style="width: 80%">
        <div>
          <h3 id="total-remaining">{{total_remaining}}</h3>
        </div>
        <div>
          <h4>Remaining</h4>
        </div>
        <hr class="border border-secondary border-1 mt-2" style="width: 80%">
        <div>
          <h3>{{ time_period_budget }}</h3>
        </div>
        <div>
          <h4>Total Budget</h4>
        </div>
        <hr class="border border-secondary border-1 mt-2" style="width: 80%">
      </div>

      <div class="chart-container">
        <canvas id="spent-remaining-chart"></canvas>
      </div>

    </div>
  </div>

  <script type="text/javascript" src="/static/js/home.js?{% now "U" %}"></script>
{% endblock content %}

