.main-container {
  height: 100%;
  transition: 0.5s;
}

.left-column {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8697c4;
  overflow-x: hidden;
  transition: 0.5s;
  flex: 0 0 auto;
}

.logout-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fa-door-open {
  color: white;
}

.menu-link {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.menu-link:visited {
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: none;
  background-color: #5b6eb4;
}

.menu-link:active {
  text-decoration: none;
}

.input-column {
  width: 30%;
}

.category-list-container .category-list-container-edit {
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
}

.category-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 7%;
  margin-left: 2px;

  box-shadow: -2px 1px 1px #3d52a0;
  /* box-shadow: -5px 5px 10px #3d52a0; */
  margin-bottom: 1rem;
  border-radius: 8px;
  transition: 0.3s;
}

.category-list-item:hover {
  box-shadow: -5px 5px 10px #3d52a0;
  margin-left: 5px;
}

.fa-x {
  color: red;
}

.fa-x:hover {
  cursor: pointer;
}

#new-category-percent,
#new-category-percent-edit {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

#new-category-percent:focus,
#new-category-percent-edit:focus {
  border-color: none !important;
  box-shadow: none;
}

#new-category:focus,
#new-category-edit:focus {
  border-color: none;
  box-shadow: none;
}

#monthly-budget,
#monthly-budget-edit {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

#monthly-budget:focus,
#monthly-budget-edit:focus {
  border-color: none !important;
  box-shadow: none;
}

.active-month-selector {
  max-height: 150px;
  overflow-y: scroll;
}

.goal-name {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.chart-column {
  flex: 1;
}

.chart-container {
  height: 90%;
}

.right-column {
  width: 20vw;
  height: 100%;
  flex: 0 0 auto;
  overflow-y: scroll;
}

.goal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.goal-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fa-angle-down:hover {
  cursor: pointer;
}

.fa-angle-up:hover {
  cursor: pointer;
}

.fa-pen-to-square:hover {
  cursor: pointer;
}

.goal-dropdown-container {
  height: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  transition: 0.2s;
}

.hidden {
  display: none !important;
}
