
.main-container {
    height: 100%;
    transition: .5s;
}

.left-column {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8697c4;
    overflow-x: hidden;
    transition: 0.5s;
    flex: 0 0 auto;
}

.link-container {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container:hover {
    background-color: #5b6eb4;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu-link:visited {
    text-decoration: none;
}

.menu-link:hover{
    text-decoration: none;
}

.menu-link:active {
    text-decoration: none;
}

#piechart {
    width: 100%;
    height: 100%;
}

.middle-column {
    flex: 1;
} 

.category-list {
    width: 100%
}

.fa-angle-down:hover {
    cursor: pointer;
}

.fa-angle-up:hover {
    cursor: pointer;
}

.category-label-container {
    width: 80%;
}

.progress {
    width: 100%;
    height: 10px;
}

/* .progress-bar {
    background-color: lightgreen;
} */

.expense-list {
    height: 0;
    overflow-y: hidden;
    transition: .2s;
    border-radius: none;
}

.individual-expense {
    border-bottom-width: 2px !important;
}

.fa-pen-to-square:hover {
    cursor: pointer;
}

.fa-trash-can {
    color: red;
    float: right;
}

.fa-trash-can:hover {
    cursor: pointer;
}

.right-column {
    width: 20vw;
    background-color: #ede8f5;
    flex: 0 0 auto;
}

.current-stats-list {
    background-color: #ede8f5 !important;
}

.hidden {
    display: none !important;
}